name: Python publish

on:
    create:
        push:
            tags:
                - '*'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: "3.x"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flit
        flit install --extras=test

    - name: Test with pytest
      run: |
        pytest

    - name: Publish
      env:
        FLIT_USERNAME: ${{ secrets.PYPI_USERNAME }}
        FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        flit publish
